/*Globals*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

.link-buy {
  color: #000;
  font-weight: bold;
}

body {
  font-family: proxima-nova, sans-serif;
}
