/*Unity*/
main {
  .mediaplayer {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mediaplayer img {
    width: 92%;
    opacity: 0.85;
  }

  .mediaplayer__player {
    position: absolute;
    width: 31%;
  }

  @include mq-xlarge {
    .mediaplayer img {
      height: 628px;
    }
  }
}
